<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher #refresher slot="fixed" (ionRefresh)="onPullToRefresh(refresher)" [disabled]="false">
    <ion-refresher-content pulling-icon="arrow-dropdown" refreshing-spinner="circles" [refreshingText]="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
      @ionicframework
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
    <ion-item>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eos cupiditate reprehenderit tempore nulla ipsam vitae laudantium
      eveniet incidunt, dolor ex illum excepturi vel illo velit est ipsum architecto hic!
    </ion-item>
  </ion-list>
</ion-content>